table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toNewFile{
  margin-right: 50px;
}
.download{
  margin-right: 100px;
}
